<div class="lg:h-full h-auto bg-gradient-to-r from-blue-dark to-blue-light">
    <div class="container mx-auto">
        <div class="flex justify-between">
            <div class="p-6 text-white">Logo + Text</div>
            <div class="p-6 text-white">
                <a href="/api/logout">Logout</a>
            </div>
        </div>

        <div class="container">
            <div class="grid grid-cols-1 items-center justify-center content-center gap-y-8">
                <div class="mx-auto w-3/4">
                    <div id="alert" class="ui message hidden" style="background-color: #E61565;">
                        <i class="close icon" onclick="hide_alert()"></i>
                        <div class="header" id="alert-header">
                        </div>
                        <p id="alert-body">
                        </p>
                    </div>
                </div>
                <div class="justify-center text-center font-incosolata text-white text-5xl">
                    Your Session - {{join_id}}
                </div>
                <div class="grid lg:grid-cols-4 lg:w-full gap-x-8 gap-y-8 ">
                    <div class="mx-auto">
                        <div class="ui grey font-inconsolata inverted medium header">
                            Search for songs
                        </div>
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search songs...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="mx-auto w-3/4 lg:w-full h-full">
                        <div class="container rounded-lg bg-green-spotify w-full h-full">
                            <div class="font-inconsolata text-white text-2xl lg:text-4xl text-center mx-auto pt-6">
                                Currently Playing
                            </div>
                            <div
                                class="container rounded-lg bg-black w-5/6 mx-auto py-2 my-4 outline-white max-h-96 mx-auto">
                                {{#if current}}
                                <div class="m-4 p-4 rounded-lg mx-auto justify-center">
                                    <div class="object-scale-down rounded-lg mx-auto w-auto h-auto outline-white">
                                        <img src="{{current.image.url}}" width="200" height="200">
                                    </div>
                                    <div class="flex">
                                        <div class="text-md text-green-spotify mt-4">
                                            {{current.name}}
                                            <div class="text-md text-white">
                                                {{#each current.artists}}
                                                {{this}}
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex grid grid-cols-3 mx-auto mt-4">
                                        <div class="text-white mx-auto hover:text-green-spotify">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path
                                                    d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z" />
                                            </svg>
                                        </div>
                                        <div class="text-white mx-auto hover:text-green-spotify">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <div class="text-white mx-auto hover:text-green-spotify">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                                fill="currentColor">
                                                <path
                                                    d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>

                                {{else}}
                                <div class="font-incosolata text-white m-2 p-2">
                                    The player is not currently active - nothing is playing at the moment!
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-3/4 lg:w-full h-full">
                        <div class="container rounded-lg bg-green-spotify w-full h-full">
                            <div class="font-inconsolata text-white text-2xl lg:text-4xl text-center mx-auto pt-6">
                                Song Requests
                            </div>
                            <div
                                class="container rounded-lg bg-black w-5/6 mx-auto py-2 my-4 outline-white overflow-y-scroll max-h-96">
                                {{#if songs.length}}
                                {{#each songs}}
                                <div class="m-4 p-4 my-6 rounded-lg outline-white">
                                    <div class="flex justify-between justify-content-around">
                                        <div class="text-md text-green-spotify">
                                            {{this.name}}
                                            <div class="text-md text-white">
                                                {{#each this.artists}}
                                                {{this}}
                                                {{/each}}
                                            </div>
                                            <div class="flex gap-x-4 mt-4">
                                                <div class="text-white hover:text-green-spotify"
                                                    onclick="add_song('{{this.uri}}', '{{this.id}}')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                        viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                                <div class="text-white hover:text-red-main"
                                                    onclick="remove_song('{{this.id}}')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                        viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="object-scale-down rounded-lg" width="25" height="25">
                                            <img src="{{this.image}}">
                                        </div>
                                    </div>

                                </div>
                                {{/each}}
                                {{else}}
                                <div class="font-inconsolata text-white text-xl text-center mx-auto">
                                    There are currently no songs requested
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto w-3/4 lg:w-full h-full pb-4">
                        <div class="container rounded-lg bg-white w-full h-full">
                            <div class="font-inconsolata text-2xl lg:text-4xl text-center mx-auto pt-6">
                                Connected - {{size}}
                            </div>
                            <div class="container rounded-lg outline-solid">
                                <div class="grid grid-cols-1 p-3">
                                    {{#each connected}}
                                    <div class="flex justify-between my-1">
                                        <div class="text-xl">
                                            {{this.name}}
                                        </div>
                                        <div>
                                            <button onclick="remove_rager('{{this.id}}')"
                                                class="hover:bg-red-main text-black hover:text-white rounded text-xl">
                                                <i class="x icon  pl-1 pt-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>